dsauer_userWS/xml-resources/web-service-references/weatherServiceService/wsdl/localhost_8080/dsauer_weatherWS/weatherServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.web/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.web/" name="weatherServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.web/" schemaLocation="http://localhost:8080/dsauer_weatherWS/weatherServiceService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="searchCityUSA">
<part name="parameters" element="tns:searchCityUSA"></part>
</message>
<message name="searchCityUSAResponse">
<part name="parameters" element="tns:searchCityUSAResponse"></part>
</message>
<message name="getWeatherByUSZipCode">
<part name="parameters" element="tns:getWeatherByUSZipCode"></part>
</message>
<message name="getWeatherByUSZipCodeResponse">
<part name="parameters" element="tns:getWeatherByUSZipCodeResponse"></part>
</message>
<message name="getAllCityZIPs">
<part name="parameters" element="tns:getAllCityZIPs"></part>
</message>
<message name="getAllCityZIPsResponse">
<part name="parameters" element="tns:getAllCityZIPsResponse"></part>
</message>
<message name="getUSAState">
<part name="parameters" element="tns:getUSAState"></part>
</message>
<message name="getUSAStateResponse">
<part name="parameters" element="tns:getUSAStateResponse"></part>
</message>
<message name="getUSACounty">
<part name="parameters" element="tns:getUSACounty"></part>
</message>
<message name="getUSACountyResponse">
<part name="parameters" element="tns:getUSACountyResponse"></part>
</message>
<message name="getUSACity">
<part name="parameters" element="tns:getUSACity"></part>
</message>
<message name="getUSACityResponse">
<part name="parameters" element="tns:getUSACityResponse"></part>
</message>
<message name="searchWorld">
<part name="parameters" element="tns:searchWorld"></part>
</message>
<message name="searchWorldResponse">
<part name="parameters" element="tns:searchWorldResponse"></part>
</message>
<message name="getWorldCountryLang">
<part name="parameters" element="tns:getWorldCountryLang"></part>
</message>
<message name="getWorldCountryLangResponse">
<part name="parameters" element="tns:getWorldCountryLangResponse"></part>
</message>
<message name="calculateDistance">
<part name="parameters" element="tns:calculateDistance"></part>
</message>
<message name="calculateDistanceResponse">
<part name="parameters" element="tns:calculateDistanceResponse"></part>
</message>
<message name="getCityZIPs">
<part name="parameters" element="tns:getCityZIPs"></part>
</message>
<message name="getCityZIPsResponse">
<part name="parameters" element="tns:getCityZIPsResponse"></part>
</message>
<message name="stateSearch">
<part name="parameters" element="tns:stateSearch"></part>
</message>
<message name="stateSearchResponse">
<part name="parameters" element="tns:stateSearchResponse"></part>
</message>
<message name="cityCounty">
<part name="parameters" element="tns:cityCounty"></part>
</message>
<message name="cityCountyResponse">
<part name="parameters" element="tns:cityCountyResponse"></part>
</message>
<message name="citySearch">
<part name="parameters" element="tns:citySearch"></part>
</message>
<message name="citySearchResponse">
<part name="parameters" element="tns:citySearchResponse"></part>
</message>
<message name="WeatherData">
<part name="parameters" element="tns:WeatherData"></part>
</message>
<message name="WeatherDataResponse">
<part name="parameters" element="tns:WeatherDataResponse"></part>
</message>
<message name="distance">
<part name="parameters" element="tns:distance"></part>
</message>
<message name="distanceResponse">
<part name="parameters" element="tns:distanceResponse"></part>
</message>
<message name="worldCountry">
<part name="parameters" element="tns:worldCountry"></part>
</message>
<message name="worldCountryResponse">
<part name="parameters" element="tns:worldCountryResponse"></part>
</message>
<message name="worldCity">
<part name="parameters" element="tns:worldCity"></part>
</message>
<message name="worldCityResponse">
<part name="parameters" element="tns:worldCityResponse"></part>
</message>
<portType name="weatherService">
<operation name="searchCityUSA">
<input message="tns:searchCityUSA"></input>
<output message="tns:searchCityUSAResponse"></output>
</operation>
<operation name="getWeatherByUSZipCode">
<input message="tns:getWeatherByUSZipCode"></input>
<output message="tns:getWeatherByUSZipCodeResponse"></output>
</operation>
<operation name="getAllCityZIPs">
<input message="tns:getAllCityZIPs"></input>
<output message="tns:getAllCityZIPsResponse"></output>
</operation>
<operation name="getUSAState">
<input message="tns:getUSAState"></input>
<output message="tns:getUSAStateResponse"></output>
</operation>
<operation name="getUSACounty">
<input message="tns:getUSACounty"></input>
<output message="tns:getUSACountyResponse"></output>
</operation>
<operation name="getUSACity">
<input message="tns:getUSACity"></input>
<output message="tns:getUSACityResponse"></output>
</operation>
<operation name="searchWorld">
<input message="tns:searchWorld"></input>
<output message="tns:searchWorldResponse"></output>
</operation>
<operation name="getWorldCountryLang">
<input message="tns:getWorldCountryLang"></input>
<output message="tns:getWorldCountryLangResponse"></output>
</operation>
<operation name="calculateDistance">
<input message="tns:calculateDistance"></input>
<output message="tns:calculateDistanceResponse"></output>
</operation>
<operation name="getCityZIPs">
<input message="tns:getCityZIPs"></input>
<output message="tns:getCityZIPsResponse"></output>
</operation>
<operation name="stateSearch">
<input message="tns:stateSearch"></input>
<output message="tns:stateSearchResponse"></output>
</operation>
<operation name="cityCounty">
<input message="tns:cityCounty"></input>
<output message="tns:cityCountyResponse"></output>
</operation>
<operation name="citySearch">
<input message="tns:citySearch"></input>
<output message="tns:citySearchResponse"></output>
</operation>
<operation name="WeatherData">
<input message="tns:WeatherData"></input>
<output message="tns:WeatherDataResponse"></output>
</operation>
<operation name="distance">
<input message="tns:distance"></input>
<output message="tns:distanceResponse"></output>
</operation>
<operation name="worldCountry">
<input message="tns:worldCountry"></input>
<output message="tns:worldCountryResponse"></output>
</operation>
<operation name="worldCity">
<input message="tns:worldCity"></input>
<output message="tns:worldCityResponse"></output>
</operation>
</portType>
<binding name="weatherServicePortBinding" type="tns:weatherService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="searchCityUSA">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getWeatherByUSZipCode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllCityZIPs">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUSAState">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUSACounty">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUSACity">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="searchWorld">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getWorldCountryLang">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="calculateDistance">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCityZIPs">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="stateSearch">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cityCounty">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="citySearch">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="WeatherData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="distance">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="worldCountry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="worldCity">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="weatherServiceService">
<port name="weatherServicePort" binding="tns:weatherServicePortBinding">
<soap:address location="http://localhost:8080/dsauer_weatherWS/weatherServiceService"></soap:address>
</port>
</service>
</definitions>